language: node_js
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - g++-4.8
node_js:
  - "v0.10.40"
  - "v0.11.16"
  - "v0.12.7"
  - "iojs-v2.5.0"
  - "iojs-v3.3.1"
  - "v4.0.0"
  - "v4.1.0"
  - "v4.1.1"
